.service-clickContainer{
    /* border: 2px solid black; */
    margin-top: 3% !important;
}
.myTypography-para{
    
    /* border: 2px solid black; */
    width:70% !important;
}
.analysis-container{
    display: flex;
    /* border: 2px solid black; */
    margin-top: 5%;
    /* flex-wrap: wrap;  */
}
.analysis-image{
    max-width: 40%;
    /* border: 2px solid black; */
    margin-left: 5%;
}

.analysis-image{
    max-width: 40%;
    /* border: 2px solid black; */
    margin-left: 5%;
}
.product-analysis-container{
    display: flex;
    /* border: 2px solid red; */
    align-items: center;
    /* justify-content: center; */
    align-content: center;


}
.analysis-desc{
    display: flex;
    flex-direction: column;
    /* margin-left: 14%; */
    /* margin-right: 14%; */
    /* margin-top: 20%; */
    /* margin-top: 10%; */
    justify-content: space-around;  
    /* border: 2px solid black; */
    height: max-content;
    /* max-width: 50% !important; */
}

@media (max-width:500px) {
    .analysis-container{
        flex-direction: column;
    }
    .product-analysis-container .analysis-desc{
        display: flex;
        margin-right: 0%;
        margin-left: 0%;

    }

}

.analysis-desc li{
    list-style-type: none;
}